.logoutBtn{
    border-radius: 5px;
    margin-left: 38%;
    margin-top: 20px;
    background-color: black;
    color: yellow;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
}



