canvas.drawing, canvas.drawingBuffer {

    position: absolute;
    left:0;
    display: none !important;
    


}

#scanner-container{
    width: 400px;
    height: 600px;
    overflow: hidden;
}



#btn{
    width: 100%;

}

#googleSearch{
    width: 100%;
}



#total-container{
    width: 95vw;
    height: 45vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: aqua;
    padding: 5px;
    margin-left: -5px;
    overflow: hidden;

}

@media only screen and (min-width: 700px) {
    #scanner-container{
        overflow: visible;
        width: 640px;
        height: 480px;

    }

    #total-container{
        width: 650px;
        height: 490px;
        display: flex !important;
        align-items:flex-end;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        background-color: aqua;
        overflow: visible;
    
    }

    #btn{
        width: 650px;
    
    }
    
    #googleSearch{
        width: 640px;
    }

    #includeinfocontainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items:center;

    }

    #actualinfo{
        width: 650px;
        height: 490px;

    }

  }
