.ui.placeholder.segment {
    background-color: #C9E3AC;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 50%;
}

button.ui.icon.button {
    background-color: #90BE6D;
    color: black;
    
}


