.ui.placeholder.segment {
    background-color: #C9E3AC;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

button.ui.button {
    background-color: #90BE6D;
    color: black;
}


