

.link{
    font-size: 18px;
    color: #37371F;
    margin: 0px 20px;
}

.active{
    color: black;
}

.ui.secondary.menu {
    display: flex;
    justify-content: center;
}

button.ui.icon.button.BackBtn {
    background-color: black;
    height: 100%;
    margin-top: 26px;
}

i.backward.icon {
    color: yellow;
}

img.ui.small.image {
    margin-top: 10px;
}


.nav {
    width: 0px;
}

.sideNav{
    margin-top: 110px;
}
 .sidenav .closebtn {
position: fixed;
right: 25px;
font-size: 36px;
margin-left: 0;
}
#hamburger{
margin-top: 100px;
right: 0;
top: 15px;
padding-right: 2%;
border: 0;
color: black;
font-size:30px;
cursor: pointer;
}

.sideNav{
font-family: "Inter" ,monospace;
text-align: left;
height: 100%;
width:0%;
position: fixed;
z-index: 3;
top: 0;
right: 0;
background: linear-gradient(-45deg, #070807, #058FFF, #6D01FA, #3600F7);
background-size: 400% 400%;
height: 100vh;
animation: gradient 15s ease infinite;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.alink:hover {
color: black;
}
.sidenav .closebtn {
position: fixed;
right: 25px;
font-size: 36px;
margin-left: 0;
}

.alink {
top:0;
margin-top: -40px;
margin-bottom: 40px;
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: white;
display: block;
transition: 0.3s;
}




